@use '@angular/material' as mat;

.example-spacer {
  flex: 1 1 auto;
}

@include mat.toolbar-overrides(
  (
    container-background-color: var(--mat-sys-primary),
    container-text-color: var(--mat-sys-on-primary),
  )
);
